.skeleton-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 40px;
    gap: 20px;
   
}

ul{
    padding: 0;
}


.item-skeleton {
    margin: 20px;
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 270px;
    /* background-color:bisque; */
}

.skeleton-img{
    
}

.item-skeleton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555);
    /* Optional hover effect */
    padding: 20px;
}