* {
    box-sizing: border-box;
    font-family: monospace;
    background-color: rgba(250, 235, 215);
}
.Page-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 350%;
    border: 3px solid black;
}
.Page-title-Cart {
    margin-left: auto;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px;
    align-items: center;
    
}
@media (max-width: 800px) {
    .nav {
      flex-direction: column;
      }
}

.nav-link{
    background-color: black;
    font-family: monospace;
    font-size: 200%;
    color: white ;
}
.nav-link:hover{
    background-color: silver;
    
}
.Custom-hr{
    height: 2px; 
    background-color: black;
    border: none; 
    margin: 20px 0;
}


.no-list{
    list-style-type: none;
}        
.no-link{
    text-decoration: none;
    
}
.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.logo {
   width: 5%;
   height: 5%;
}
@media (max-width: 800px) {
    .logo {
    width: 15%;
    height: 15%;
      }
}

.Page-about{
    display: flex;
    flex-flow: column wrap;
    margin-left: 10%;
    
  
}
.Page-about-title{
    font-size: 300%;
    

}
.Page-about-description{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 150%;
    border: 2px solid black;
    padding: 20px;
    
}



.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 8%;   
}
@media (max-width: 800px) {
    .container{
        justify-content: center;
        margin-left: 0;
    }
}

.item{
margin: 20px;
flex: 0 0 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: monospace;
padding: 20px;
}
.item p{
    font-size: 120%;
}


.item-center {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    white-space: nowrap;


}
.long-item-name{
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    width:100%;
}



.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 70%;
    height: 70%;
    border: 0cap;
}
.item-details-container{
display: flex;
flex-direction: column;
margin-left: 10%;
margin-right: 10%;
}
.item-details-container h1{
font-size: 300%;
}

.item-details-container div{
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-size: 150%;
    margin-left: 5%;
    /* border: 2px solid black; */
}
.item-details-container div img{
    width: 200px;
    height: 200px;
}
.item-details-container div p {
    border: 2px solid black;
    padding: 20px;
}
 

.item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555); /* Optional hover effect */
    padding: 20px;
}


.cart-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 2px solid black;    
}

.cart-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;  
    padding: 10px;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.cart-item-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.cart-item-button{
    display: flex;
    
}
.cart-item-button input {
    width: 6ch
}

.cart-item-img{
    width: 40%;
    height: 40%;
}